/*
body{
	width:80%;
	margin:0 auto;
	background-color:gray;
}	*/

table{
  font-size: 12px;
  line-height: 1.75em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

th{
  background-color:#DDD;
  color:  #333;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: normal;
}

td a{
	display:block;
}


td{
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid transparent;
}


.schedule_key{
	color:#FFFFFF;
}

.schedule{
	width:100%;
}

.schedule a{
	color:black;
}

.schedule td
{
  border-radius: 2px;
}

.schedule td:hover
{
  border: 1px solid white;
}

.schedule td.empty:hover
{
  border: 1px solid transparent;
}

/* ----- Table colour styles ----- */
.roleplay{
	background-color:#FF0066;
}

.compgaming{
  background-color:#9933FF;
}

.boardgaming{
  background-color:#FF66CC;
}

.anime{
	background-color:#FF6600;
}

.scifi{
	background-color:#FF9900;
}

.cosplay{
	background-color:#99CCFF;
}

.workshop{
  background-color:#00FF00;
}

.premium{
  background-color:#00CC00;
  border: 1px solid black;
}

.panels{
	background-color:#0099FF;
}

.market{
	background-color:#00FFFF;
}

.social{
	background-color:#CCCCFF;
}

.other{
  background-color: #0036CC;
}

.meal{
  background-color:#990099;
}

.fashion{
	background-color:#FFFF00;
}

.esports{
	background-color:#FF0000;
}

.roleplay, .compgaming, .boardgaming, .anime, .scifi, .cosplay, .workshop, .premium, .panels, .market, .social, .other, .meal, .fashion, .esports{
  opacity: 0.8;
  border: 1px solid #333;
}

.roleplay:hover, .compgaming:hover, .boardgaming:hover, .anime:hover, .scifi:hover, .cosplay:hover, .workshop:hover, .premium:hover, .panels:hover, .market:hover, .social:hover, .other:hover, .meal:hover, .fashion:hover, .esports:hover{
  opacity: 1;
}